@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  font-family: "Inter", BlinkMacSystemFont, helvetica;
}

.about {
  display: flex;
  flex-flow: column nowrap;
}

.profile-container, .profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.profile-container {
  flex-flow: row nowrap;
}

.profile-title {
  box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.3);
  flex-flow: column nowrap;
  padding: 10px 20px;
  margin-left: -20px;
  z-index: 100;
  background-color: white;
  border-radius: 50px;
}
.profile-title * {
  margin: 0;
}
.profile-title h3 {
  font-weight: normal;
  font-size: 0.8rem;
}

.profile-container img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.main-image {
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  color: white;
  font-size: 50px;
  padding: 20px;
  box-sizing: border-box;
  vertical-align: center
}

h3 {
  color: #999;
}

.body {
  display: flex;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  flex-flow: column nowrap;
  box-sizing: border-box;
}

a {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

a.email-link {
  font-weight: normal;
  border-radius: 0;
  text-align: left;
  font-size: 1em;
  border-bottom: solid 1px;
  opacity: 0.8;
}
a.email-link:hover {
  opacity: 1;
}
